@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
.main-project-title{
  @apply sm:my-2 text-5xl sm:text-5xl font-bold text-slate-700 leading-snug
}

.main-project-text{
  @apply text-base sm:text-xl text-slate-700
}

.project-title{
  @apply my-5 text-2xl sm:text-3xl font-bold text-slate-700 leading-snug
}

.project-text{
  @apply my-2 text-base sm:text-xl text-slate-700
}
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
